@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');


.tile-map-container {
    display: flex;
    justify-content: center;
}
.tile-container {
    display: inline-block;
    padding: 2px;
}
.current-selection {
    background-color: yellow;
}
.tile-map {
    display: grid;
    border: 1px solid gray;
}
.tile { 
    width: 100px;
    height: 100px;
}
.game-view .toolbar{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}


.animated-tile {
    opacity: 1;
    transition: opacity 0.5s; 
 }
  
#animated-tile.fade {
    opacity: 0;
}